/** 复合选择器 **/
body{
    margin-left: 40%;
}
/** 1. 交集选择器 **/
/* 交集选择器是指同时满足两个选择器的条件，才会应用样式。 */
p.big {
    /*你得先是p元素 且class=big才有效 */
    color: green;
    font-size: 60px
}
.big.speak {
    /*你得先是class=big speak才有效 */
    color: blue;
    font-size: 70px
}

/** 2. 并集选择器 **/
/* 含有的选择器匹配就行
    1. 并集选择器，我们一般竖着写。
    2. 任何形式的选择器，都可以作为并集选择器的一部分 。
    3. 并集选择器，通常用于集体声明，可以缩小样式表体积。
 */
#peiqi,
.big,
.fat {
    color: red;
    width: 300px;
    font-size: 80px
}
/* 3. 后代选择器 */
/* 后代选择器，是指元素内部的元素，也就是子孙元素。 */
/**1. 后代选择器，最终选择的是后代，不选中祖先。
2. 儿子、孙子、重孙子，都算是后代。
3. 结构一定要符合之前讲的 HTML 嵌套要求，例如:不能 p 中写 h1 ~ h6 。 */
/* } */


/*div p {*/
/*    !* 选择div元素内部的p元素 *!*/
/*    color: greenyellow;*/
/*    font-size: 80px*/
/*}*/


/*!* 4. 子选择器 *!*/
/*!* 子选择器，是指元素内部的元素，也就是子元素。 *!*/


/*div>p {*/
/*    !* 选择div元素内部的p元素 *!*/
/*    color: pink;*/
/*    font-size: 40px*/
/*}*/




/* 5. 相邻兄弟选择器 */
/* 相邻兄弟选择器，是指相邻的兄弟元素。 */
/* 1. 相邻兄弟选择器，最终选择的是相邻的兄弟元素，不选中其他的兄弟元素。
2. 相邻兄弟选择器，只能选择后面的兄弟元素，不能选择前面的兄弟元素。
3. 相邻兄弟选择器，只能选择一个兄弟元素，不能选择多个兄弟元素。 */
/* 相邻兄弟选择器样式 */
h2 + p {
    color: blue;
}
/* 6. 通用兄弟选择器 */
/* 通用兄弟选择器，是指所有的兄弟元素。 */
/* 通用兄弟选择器样式 */
/*h2 ~ p {*/
/*    color: red;*/
/*}*/


/* 7. 伪类选择器 */
/* 伪类选择器，是指元素的特殊状态。 */
/* 伪类选择器样式 */
a:link {
    color: red;
}


/* 8. 伪元素选择器 */
/* 伪元素选择器，是指元素的特殊部分。 */
/* 伪元素选择器样式 */
p::first-line {
    color: red;
}
p::first-letter {
    color: blue;
}

/*行内样式 > ID选择器 > 类选择器 > 元素选择器 > 通配选择器。*/